.slideShow{
	/*background-color: red;*/
	width: 600px;
	height: 300px;
	overflow: hidden; /* Esto hace figuradamente que el contenido se meta dentro del slideShow y solo se vea lo que mide en este caso 600 x 300*/
	margin-bottom: 10px;
}

.slideShow ul{
	padding: 0;
	list-style-type: none;
	margin-left: 0px;
	display: flex;
}


.slideShowButtons{
	width: 600px;
	display: flex;  /*Esto hace que las cosas aparescan a los lados en ves de abajo de cada uno*/
	position: relative;
	margin-left: 10px;
	top: -30px;
}

.slideShowButtons .slideButton{
	cursor: pointer;  /*Esto hace que se vea que se puede clickear*/
	border-radius: 100%;
	width: 15px;
	height: 15px;
	margin-right: 3px;
	background-color: #a1a1a1;
}